/* ========================================================================= */
/*     general                                                               */
/* ========================================================================= */

.main textarea {
  padding: 0.3rem;
  line-height: 1.3rem;
  font-family:
    'Noto Sans Mono CJK JP',
    'Source Han Code JP',
    SFMono-Regular,
    Consolas,
    'Roboto Mono',
    'Courier New',
    Meiryo,
    monospace;
}

/* ========================================================================= */
/*     id                                                                    */
/* ========================================================================= */

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #222;
}

/* buttons */

.buttonWrapper {
  display: flex;
  width: 100%;
  padding: 15px;
  padding-bottom: 0;
}

.buttonWrapper button {
  margin-right: 0.25rem;
  min-height: 2.25rem;
  max-height: 2.25rem;
  padding: 0 0.625rem;
}

.buttonWrapper button img {
  min-height: 1rem;
  max-height: 1rem;
}

.stop {
  margin-right: 1rem !important;
}

.info img {
  mix-blend-mode: multiply;
}

.redButton {
  background-color: #a00;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.redButton:hover {
  background-color: #b11;
}

.redButton:active {
  outline: 3px solid #c22;
  outline-offset: -3px;
}

.whiteButton {
  background-color: #ccc;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.whiteButton:hover {
  background-color: #eee;
}

.whiteButton:active {
  outline: 3px solid #fff;
  outline-offset: -3px;
}

/* MML or instruments or status textarea */

.textareaWrapper {
  flex-grow: 1;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px;
}

.textareaResizer {
  width: 3px;
  min-width: 3px;
  max-width: 3px;
  height: 100%;
  background-color: #999;
  cursor: ew-resize;
}

.mmlWrapper {
  display: flex;
  flex: none;
  width: 75%;
  min-width: 4rem;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 3px solid #999;
  border-right: none;
}

.logWrapper {
  flex-grow: 1;
  min-width: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 3px solid #999;
  border-left: none;
}

.mml,
.mmlNumbers,
.inst,
.log {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.3rem;
  background-color: #222;
  border: none;
  color: white;
  outline: none;
  resize: none;
  tab-size: 4;
}

.mml {
  white-space: nowrap;
  overflow-x: auto;
}

.mmlNumbers {
  user-select: none;
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  color: #999;
  text-align: right;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* sidebar */

.blinder {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebarWrapper {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
  width: 40rem;
  height: 100%;
  pointer-events: none;
}

.sidebarButton {
  max-width: 1.5rem;
  min-width: 1.5rem;
  max-height: 3rem;
  min-height: 3rem;
  background-color: #a00;
  cursor: pointer;
  pointer-events: auto;
}

.sidebarButton:hover {
  background-color: #b11;
}

.sidebarButton:active {
  outline: 3px solid #c22;
  outline-offset: -3px;
}

.sidebarButtonIcon {
  margin-left: 25%;
  margin-top: 25%;
}

.sidebar {
  display: none;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.sidebarResizer {
  width: 3px;
  height: 100%;
  background-color: #a00;
  cursor: ew-resize;
}

.leftTriangle {
  background: #eee;
  height: 75%;
  width: 50%;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.rightTriangle {
  background: #eee;
  height: 75%;
  width: 50%;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
