/* ========================================================================= */
/*     general                                                               */
/* ========================================================================= */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
}

button, div, table, textarea {
  box-sizing: border-box;
}

textarea {
  padding: 0.3rem;
  line-height: 1.3rem;
  font-family:
    'Noto Sans Mono CJK JP',
    'Source Han Code JP',
    SFMono-Regular,
    Consolas,
    'Roboto Mono',
    'Courier New',
    Meiryo,
    monospace;
}

/* ========================================================================= */
/*     id                                                                    */
/* ========================================================================= */

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#button-wrapper {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
}

#play {
  padding: 0.75rem 1.5rem;
  background-color: #a00;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

#play:hover {
  background-color: #b11;
}

#play:active {
  outline: 3px solid #c22;
  outline-offset: -3px;
}

/* MML or instruments or status textarea */

#textarea-wrapper {
  width: 100%;
  flex-grow: 1;
  margin: 0;
  padding: 10px;
  flex-grow: 1;
}

#textarea-upper {
  display: flex;
  width: 100%;
  height: calc(100% - 1.5rem);
  margin: 0;
  padding: 0;
}

#textarea-lower {
  width: 100%;
  height: 1.5rem;
  margin: 0;
  padding: 0;
}

#textarea-resizer {
  width: 3px;
  height: 100%;
  background-color: #999;
  cursor: ew-resize;
}

#mml-wrapper {
  display: flex;
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 3px solid #999;
  border-right: none;
}

#inst-wrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 3px solid #999;
  border-left: none;
}

#status-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 3px solid #999;
  border-top: none;
}

#mml,
#mml-numbers,
#inst,
#inst-numbers,
#status,
#log {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.3rem;
  background-color: #222;
  border: none;
  color: white;
  outline: none;
  resize: none;
}

#mml-numbers,
#inst-numbers {
  user-select: none;
  width: 3rem;
  color: #999;
  text-align: right;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* sidebar */

#blinder {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#sidebar-wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
  width: 40rem;
  height: 100%;
  pointer-events: none;
}

#sidebar-button {
  max-width: 1.5rem;
  min-width: 1.5rem;
  max-height: 3rem;
  min-height: 3rem;
  background-color: #a00;
  cursor: pointer;
  pointer-events: auto;
}

#sidebar-button:hover {
  background-color: #b11;
}

#sidebar-button:active {
  outline: 3px solid #c22;
  outline-offset: -3px;
}

#sidebar-button-icon {
  margin-left: 25%;
  margin-top: 25%;
}

#sidebar {
  display: none;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

#sidebar-resizer {
  width: 2px;
  height: 100%;
  background-color: #a00;
  cursor: ew-resize;
}

.left-triangle {
  background: #eee;
  height: 75%;
  width: 50%;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.right-triangle {
  background: #eee;
  height: 75%;
  width: 50%;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
